body{
	background-color: #ffffff;
}

.cart-icon{
  width: 25%;
  border-radius: 50%;
  background-color: rgb(41, 98, 255);
  margin-left: 20px;
  padding: 0px;
  
  
}

.link{
	padding:0;
}
.card-link-1{
	padding-top: 0;
}

.navbar{
	background-color: rgb(41, 98, 255);
	font-size: 1.5rem;
	color: #000000;
	top: 0;
	height: 80px;
	width: 100%;
}


.navbar-fixed-top {
  position: fixed;
  
}

.navbar-brand{
	color: #07031a !important;
}
.navbar-brand:hover{
	color: #FFFFFF !important;
}
.nav-link{
	color: #000000 !important;
}
.nav-link:hover{
	color: #FFFFFF !important;
}
.dropdown-menu{
	color: #000000 !important;
}
.dropdown-item{
	color: #000000 !important;
}

[data-letters1]:before {
  content:attr(data-letters1);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background-color:#000000;
  vertical-align:middle;
  margin-right:1rem;
  margin-top: 1rem;
  color:#ffffff;
  }


.bhuhome2{
      padding-right: 0px;
      width: 687px;
      height: 500px;
  }
.bhuhome1{
      padding-left: 10px ;
      padding-right: 0;
      width: 687px;
      height: 500px;
  }

.div1{
	display: inline-block;
}
.div2{
	display: inline-block;
}