body{
	background-color: #ffffff;
}

.cart-icon{
	width: 80px;
	height: 70px;
	
}



.navbar{
	background-color: rgb(41, 98, 255);
	font-size: 1.5rem;
	color: #000000;
	top: 0;
	height: 80px;
}


.navbar-fixed-top {
  top: 0;
  
}

.navbar-brand{
	color: #07031a !important;
}
.navbar-brand:hover{
	color: #FFFFFF !important;
}
.nav-link{
	color: #000000 !important;
}
.nav-link:hover{
	color: #FFFFFF !important;
}
.dropdown-menu{
	color: #000000 !important;
}
.dropdown-item{
	color: #000000 !important;
}

[data-letters1]:before {
  content:attr(data-letters1);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background-color:#000000;
  vertical-align:middle;
  margin-right:1rem;
  margin-top: 1rem;
  color:#ffffff;
  }

.first-img{
	width: 50%;
}
.second-img{
	height: 505px;
	width: 755px;
	margin-right: 0;
}

.Card-1{
	margin: 10px 5px 10px 18px;
	display: inline-block;
	height: 300px;
	width: 360px;
	border-style: inset;
	background-color: #e31c79;
}
.Card-2{
	margin: 10px 5px 10px 5px;
	display: inline-block;
	height: 200px;
	width: 360px;
	border-style: inset;
	background-color: #e31c79;
}
.Card-3{
	margin: 10px 5px 10px 5px;
	display: inline-block;
	height: 200px;
	width: 360px;
	border-style: inset;
	background-color: #e31c79;
}
.Card-4{
	margin: 10px 10px 10px 5px;
	display: inline-block;
	height: 200px;
	width: 360px;
	border-style: inset;
	background-color: #e31c79;
}
.bhu-img{
	padding: 10px 15px 10px 15px;
	background-color: #e31c79 !important;
	width: 350px;
	height: 200px;
}
.card-title-1{
	line-height: 1rem;
	padding-top: 6px;
}