body{
	background-color: #ffffff;
}

.cart-icon{
	width: 80px;
	height: 70px;
	
}

.link{
	padding:0;
}
.card-link-1{
	padding-top: 0;
}

.navbar{
	background-color: rgb(41, 98, 255);
	font-size: 1.5rem;
	color: #000000;
	top: 0;
	height: 80px;
	width: 100%;
}


.navbar-fixed-top {
  position: fixed;
  
}

.navbar-brand{
	color: #07031a !important;
}
.navbar-brand:hover{
	color: #FFFFFF !important;
}
.nav-link{
	color: #000000 !important;
}
.nav-link:hover{
	color: #FFFFFF !important;
}
.dropdown-menu{
	color: #000000 !important;
}
.dropdown-item{
	color: #000000 !important;
}

[data-letters1]:before {
  content:attr(data-letters1);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background-color:#000000;
  vertical-align:middle;
  margin-right:1rem;
  margin-top: 1rem;
  color:#ffffff;
  }

.first-img{
	width: 50%;
	height: 350px;
}
.second-img{
	height: 350px;
	width: 49%;
	margin-right: 0;
}

.Card-1{
	margin: 5px 5px 5px 5px;
	display: inline-block;
	height: 310px;
	width: 24%;
	border-style: inset;
	background-color:rgb(41, 98, 255);
}

.bhu-img{
	align-items: center;
	padding: 5px 5px 5px 20px;
	background-color: rgb(41, 98, 255) !important;
	width: 90%;
	height: 200px;
}
.card-title-1{
	line-height: 1rem;
	padding-top: 6px;
}
.card-link-1{
	padding-right: 10px;
	color: #000000;
}
.card-link-2{
	padding-left: 10px;
	color: #000000;
}
.card-link-1:hover{
	color: #ffffff;
}
.card-link-2:hover{
	color: #ffffff;
}