

.card-title-2{
	line-height: 1rem;
	padding:10px;
	color: #ffffff;
	margin-left:40px;
}
.card-data{
	width: 75%;
	margin: 5px 10px 0px 70px;
	color: #000000;
}
:root {
  --background-color: transparent;
  --font-color: #efefef;
  --font-link-color: #efefef;
  --card-width: 400px;
  --card-height: 400px;
  --card-img-width: 380px;
}

body {
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
   font-family: 'Merienda One', cursive;
}

main {
  height: 100vh;
}

.card-container {
  display: inline-block;
  background: var(--background-color,#212121);
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.80), 0 6px 6px rgba(0,0,0,0.50);
  border-radius: 5px;
 margin: 50px 0px 10px 130px;
  padding: 4px;
  height: 250px;
  width: 300px;
  &:hover {
    box-shadow: 0 10px 35px rgba(0,0,0,0.80), 0 10px 10px rgba(0,0,0,0.50);
  }
}


@media only screen and ( max-width: 640px ) {
  
  :root {
    --card-img-width: 280px;
    --card-width: 300px;
    --card-height: 350px;
  }
  
  .card-container {
    width: var(--card-width, 280px);
    height: var(--card-height, 300px);
  }
  
} // end @media