<!DOCTYPE html>
{% extends 'main.html' %}
<html>
<head>
	<title><h3>store</h3></title>
</head>
<body>
	{% load static %}
	{% block content %}
	    	<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark ">
	  <a class="navbar-brand" href="{% url 'frontpage' %}">UEcom</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'store'%}">Store<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'Bhu_home'%}">Home<span class="sr-only">(current)</span></a>
	      </li>
	      
	      

	    </ul>
	    <li class="nav-item active">
	        <a class="nav-link" href="">{{request.user}}<span class="sr-only">(current)</span></a>
	      </li>
             
	    	<div class="form-inline my-2 my-lg-0">
	     	<a href="#"class="btn button btn-warning">Login</a>
	     
	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/carticon.jpg' %}">
	    	</a>
	    	<p id="">{{cartItems}}</p>

	    </div>
             
	  </div>
	</nav>
	<br>
	<div class="container">
<div class="row">
	<div class="col-lg-6">
		<div class="box-element">
			<a class="btn button btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

			<br>
			<br>
			<table class="table">
				<tr>
					<th><h5>Items:<strong>{{order.get_cart_items}}</strong></h5></th>
					<th><h5>Total:<strong>${{order.get_cart_total|floatformat:2}}</strong></h5></th>
					<th>
						<a style="float: right; margin: 5px;" class="btn button btn-success" href="{% url 'checkout' %}">Checkout</a>
					</th>
				</tr>
			</table>
			
		</div>
		</div>
		<div class="col-lg-6">
		<div class="box-element">
			<div class="cart-row">
				<div style="flex: 2"></div>
				<div style="flex: 2"><strong>Item</strong></div>
				<div style="flex: 1"><strong>Price</strong></div>
				<div style="flex: 1"><strong>Quantity</strong></div>
				<div style="flex: 1"><strong>Total</strong></div>
			</div>
			{% for item in items %}
			<div class="cart-row">
				<div style="flex: 2"><img class="row-image" src="{{item.product.imageURL}}"></div>
				<div style="flex: 2"><p>{{item.product.name}}</p></div>
				<div style="flex: 1"><p>${{item.product.price|floatformat:2}}</p></div>
				<div style="flex: 1">
					<p class="quantity">{{item.quantity}}</p>
					<div class="quantity">
						<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
						<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
					</div>
				</div>
				<div style="flex: 1"><p>${{item.get_total|floatformat:2}}</p></div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</div>
</div>

{% endblock content %}
</body>
</html>