<!DOCTYPE html>
<html>
<head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/du.css">
   <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Sacramento&display=swap" rel="stylesheet">
    
  <title>Du_home</title>
</head>
<body>
  <div>
    <nav class="navbar-fixed-top navbar navbar-expand-lg  navbar-light">
      <p data-letters1="DU"></p>
     
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'store_Du' %}">Du_Store <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
      </li>  
       <li class="nav-item">
        <a class="nav-link" href="{% url 'frontpage' %}">UEcom</a>
      </li>     

     </ul>
      
        <a class="nav-link" href="">{{request.user}}</a>
       
     <li>
       <a href="{% url 'cart' %}"> <img class="cart-icon"  src=" ../../static/images/carticon.jpg"></a>
      </li>

  </div>
</nav>
</div>
<div class="container1">
  <img class="Bhu_img" src="../../static/images/home2.jpg">
   
  <h1 class="text">"Your body is the temple of God. Always feel God within you and never let this temple be impure."</h1>
  <h1 class="text1">DU</h1>
  <h1 class="text2">"One aspiration and thousand aspirant fighting to make their place."</h1>

</div>


</body>
</html>