<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/design.css">
    

    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Sacramento&display=swap" rel="stylesheet">

    <title>University-com</title>
  </head>
  <body>
    <div>
    <nav class="navbar-fixed-top navbar navbar-expand-lg  navbar-light">
      <p data-letters1="UC"></p>
     <a class="navbar-brand" href="#">Contact Us</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          University E-shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'store' %}">BHU</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'store_Du' %}">DU</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'store_Amu' %}">AMU</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'store_Th' %}">THAPAR</a>
        </div>
      </li>
      <li>
        <a href="{% url 'register' %}"><img class="login-icon" src="../../static/images/login.png"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{request.user}}</a>
      </li>
      <li class="nav-item">
        <a id="test" class="btn button btn-outline-success" href="{% url 'logout' %}" onclick="myfunction()">Logout</a>
      </li>
 <script type="text/javascript">
function myFunction() {
    document.getElementById('test').style.cssText = 'background-color: black; color: white';
}
     </script>
      

    

     

     <li>
       <a href="{% url 'cart' %}"> <img class="cart-icon"  src="../../static/images/carticon.jpg"></a>
      </li>
       </ul>
      



  </div>
 
</nav>
</div>






<div class="mid-container">
  <img class="first-img" src="https://img.freepik.com/free-photo/product-package-boxes-shopping-bag-cart-with-laptop-online-shopping-delivery-concept_38716-138.jpg?size=626&ext=jpg">
  <img class="second-img" src="https://i.pinimg.com/originals/7f/47/92/7f47927ad7bb92301c978bf6a55c7585.jpg">
</div>
<div class="Card-1">
  <div class="Card-body 1">
    <h5 class="card-title-1">BHU</h5>
    <a href="{% url 'Bhu_home' %}"><img class="bhu-img" src="../../static/images/front1.jpg"></a>
     
    <a href="{% url 'store' %}" class="card-link-1"><h3>BHU campus store</h3></a>
    <a href="#" class="card-link-2">future development</a>
  </div>
</div>
<div class="Card-1">
  <div class="Card-body 1">
    <h5 class="card-title-1">DU</h5>
    <a href="{% url 'Du_home' %}"><img class="bhu-img" src="../../static/images/front2.jpg"></a>
     
    <a href="{% url 'store_Du' %}" class="card-link-1"><h3>DU campus store</h3></a>
    <a href="#" class="card-link-2">future development</a>
  </div>
</div>
<div class="Card-1">
  <div class="Card-body 1">
    <h5 class="card-title-1">AMU</h5>
    <a href="{% url 'Amu_home' %}"><img class="bhu-img" src="../../static/images/front3.jpg"></a>
     
    <a href="{% url 'store_Amu' %}" class="card-link-1"><h3>AMU campus store</h3></a>
    <a href="#" class="card-link-2">future development</a>
  </div>
</div>
<div class="Card-1">
  <div class="Card-body 1">
    <h5 class="card-title-1">Thapar Institute</h5>
    <a href="{% url 'Th_home' %}"><img class="bhu-img" src="../../static/images/front4.jpg"></a>
     
    <a href="{% url 'store_Th' %}" class="card-link-1"><h3>Thapar campus store</h3></a>
    <a href="#" class="card-link-2">future development</a>
  </div>
</div>

<div class="mid">
  
</div>
<div class="footer1">
  <h3 class="head">Become a part of our Store</h3>
  <p class="body">“Happiness is not in money, but in shopping.”</p>
  <a id="test" class="btn button1 btn-outline-success" href="{% url 'loginpage' %}" onclick="myfunction()">Join</a>
</div>
<div class="footer2">
    <div class="Card-2">
  <div class="Card-body 1">
    <h2 class="card-title-2">OUR MISSION</h2>
    <p class="card-data">“Providing a delightful and memorable customer experience”. Objective “Completely hassle free shopping experience with best prices in India</p>
  
  </div>
</div>
    <div class="Card-2">
  <div class="Card-body 1">
    <h2 class="card-title-2">Quick links</h2>
    <a class="card-data"href="{% url 'store' %}">store</a>
    <br>
    <a class="card-data" href="{% url 'cart' %}">cart</a>
    <br>
    <a class="card-data"href="{% url 'Bhu_home' %}">Bhu-home</a>
    <br>
    <a class="card-data"href="{% url 'Amu_home' %}">Amu-home</a>
    <br>
    <a class="card-data"href="{% url 'Th_home' %}">Thapar-home</a>
     <br>
    <a class="card-data"href="{% url 'Du_home' %}">Du-home</a>

  
  </div>
</div>
    <div class="Card-2">
  <div class="Card-body 1">
    <h2 class="card-title-2">Contact Us</h2>
    <img class="img" src="../../static/images/address.jpg">
    <h4 class="card-sub">Head office</h4>
    <p class="card-data">random address random state random house</p>
    <img class="img" src="../../static/images/phone.jpg">
    <h4 class="card-sub">Phone Number</h4>
    <p class="card-data">+91 7647484435</p>

  
  </div>
</div>

    
</div>























    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>