<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/future.css">

    <title>Future_dev</title>
  </head>
  <body>
    <div class="top">
      

    </div>
    <div class="midbody">
         <div class="card-container">
            <div class="Card-body 1">
              <h2 class="card-title-2">Reactify</h2>
              <p class="card-data">In Future, we can integrate frontend part with react to make display  dynamic,
             And to reduce the code lines. </p>
  
            </div>
          </div>
          <div class="card-container">
            <div class="Card-body 1">
              <h2 class="card-title-2">Image store</h2>
              <p class="card-data">In this website we are storing first,last-name and email of the customers,in 
            future we can try to get the image and display on the login page </p>
  
            </div>
          </div> 
          <div class="card-container">
            <div class="Card-body 1">
              <h2 class="card-title-2">Expansion</h2>
              <p class="card-data">We can expand this website including  bookstores, music stores and entertainment
            stores</p>
              
            </div>
          </div>
          <div class="card-container">
            <div class="Card-body 1">
              <h2 class="card-title-2">Creation</h2>
              <p class="card-data">We can create separate profile page for the history of order placed by a particular
            customers by storing their csrf token.</p>
  
            </div>
          </div>
          <div class="card-container">
            <div class="Card-body 1">
              <h2 class="card-title-2">View page</h2>
              <p class="card-data">We can create view page which describes product’s rating, reviews complains about 
            the  products and the quality of the product and service.</p>
  
            </div>
          </div>
          <div class="card-container">
            <div class="Card-body 1">
              <h2 class="card-title-2">Seller register</h2>
              <p class="card-data">We can create a page with seller information in which seller can be a company or
             any user  who can register  their products on this website.</p>
  
            </div>
          </div>
          
      


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>