
<!DOCTYPE html>
{% extends 'main.html' %}
<html>
<head>
	<title><h3>store</h3></title>
</head>
<body>
		{% load static %}
	{% block content %}
	    	<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark ">
	  <a class="navbar-brand" href="{% url 'frontpage' %}">UniversityHub</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'store_Th'%}">Th_Store<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'Th_home'%}">Home<span class="sr-only">(current)</span></a>
	      </li>
	      
	      

	    </ul>
	    <li class="nav-item active">
	        <a class="nav-link" href="">{{request.user}}<span class="sr-only">(current)</span></a>
	      </li>
             
	    	<div class="form-inline my-2 my-lg-0">
	     	<a href="{% url 'loginpage' %}"class="btn button btn-warning">Login</a>
	     
	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/carticon.jpg' %}">
	    	</a>
	    	<p id="">{{cartItems}}</p>

	    </div>
             
	  </div>
	</nav>
	<div class="container">
    <div class="store">
    	<h1>Thapar STORE</h1>
    </div>

	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
				<button data-product={{product.id}} data-action="add" class="btn button btn-outline-success add-btn update-cart">Add to cart</button>
				<a class="btn button btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>

				
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}
</body>
</html>